/*
    author: mina, vinson
    date: 2020-11-24
    title: twd - javascript game - css
*/

/* main selectors */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, p {
    text-align: center;
}

footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

/* .class selectors */


/* #id selectors */


/* media selectors */
