/*
    author: mina, vinson
    date: 2020-11-24
    title: twd - javascript game - css

-------------------------------------------------------------------------------------- 
                                    [color schemes]
                                
background color:       #bd9c38                     (brown)
complimentary:          #383bbd                     (blue)
monochromatic:          #a37a51                     (brown)
analogous:              #bd9c38, #bd5938            (golden-brown, terracotta brown)
split complimentary:    #7b38bd, #38bdbb            (purple, teal)
triadic:                #bd38bd, #38bd38            (magenta, green)
tetradic:               #383bbd, #bd38bd, #bdbd38   (blue, magenta, greenish-yellow)
-------------------------------------------------------------------------------------- 

background credits: https://ansimuz.itch.io/parallax-forest 

note from mina: i commented out any code that weren't being used in the alt version */

/* main selectors */
canvas {
    background-image: url('../images/tree_background-1.png'); 
    background-color: black;
    background-size: 100%;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body {
    font-family: 'VT323', monospace;
    background-color: #282830;
    color: white;
    width: auto;
    height: auto;
    overflow: hidden;
    text-transform: lowercase;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 4em;
    line-height: 0px;
    text-shadow: 7px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h3, p {
    padding: 0;
    margin: 0;
    color: rgb(211,211,211);
    text-align: center;
}

h2, h3, h4, h5, h6 {
    margin-top: 20px;
    color: #bd5938;
}

/* h4 for the character selection screen */
/* h4 {
    margin-top: 20px;
    color: #bd5938;
} */

footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: rgb(211,211,211);
    text-align: center;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #bd5938;
}

a:hover {
    color: #bd9c38;
    transition-duration: 0.4s;
}

/* -------------------------------------------------------------------------------------- */

/* .class selectors */
/* .wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
 .game-container {
    background-image: url('../images/tree_background-1.png');
    background-color: black;
    background-size: 100%;
    border-radius: 25px;
    position: relative;
    height: 445px;
    width: 756px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}  */

/* -------------------------------------------------------------------------------------- */

/* Main Character */
/* #player {
    width: auto; 
    height: 100px;
    bottom: -15px;
    position: absolute;
}

#player img {
    width: auto;
    height: 50px;
    display: block;
}
 */
/* -------------------------------------------------------------------------------------- */

/* game images */
/* img {
    height: 3.5%;
    width: 4%;
} */

/* character selection */

/* .gallery {
    position: absolute;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    border: 3px solid #bd5938;
    border-radius: 25px;
    padding: 10px 20px;
    left: 190px;
    top: 50px;
    height: 325px;
}

.thumbnails img {
    border: 1px solid transparent;
    width: 40px;
    height: 100%;
    padding: 1px;
    margin: 0 10px 10px 0;
}
.thumbnails img:hover {
    cursor: pointer;
}
.thumbnails img,
.preview img {
    border: 1px solid transparent;
    padding: 1px;
    width: 40px;
    height: 100%;
} */

/* character selection - button effects */

/* .char-button-div {
    position: absolute;
    bottom: 15px;
    left: 97px;
}
.char-button {
    background-color: #bd5938; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'VT323', monospace;
    bottom: 0;
  }
  
  .char-button:hover {
    background-color: #bd9c38;
    color: white;
  } */

/* -------------------------------------------------------------------------------------- */

/* stats */

/* .stats {
    position: absolute;
    color: white;
    font-size: 18px;
    bottom: -50px;
    padding-left: 20px;
} */

/* -------------------------------------------------------------------------------------- */

/* falling asteroids */
/* #m1 {
    position: absolute;
    left: 240px;
    top: 0px;
    height: 20px;
}
 */