/*
    author: mina, vinson
    date: 2020-11-24
    title: twd - javascript game - css

-------------------------------------------------------------------------------------- 
                                    [color schemes]
background color:       #bd9c38                     (brown)
complimentary:          #383bbd                     (blue)
monochromatic:          #a37a51                     (brown)
analogous:              #bd9c38, #bd5938            (golden-brown, terracotta brown)
split complimentary:    #7b38bd, #38bdbb            (purple, teal)
triadic:                #bd38bd, #38bd38            (magenta, green)
tetradic:               #383bbd, #bd38bd, #bdbd38   (blue, magenta, greenish-yellow)

background credits: https://ansimuz.itch.io/parallax-forest 
-------------------------------------------------------------------------------------- 
*/
/* main selectors */

canvas {
    background-image: url('../images/tree_background-1.png'); 
    background-color: black;
    background-size: 100%;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body {
    font-family: 'VT323', monospace;
    background-color: #282830;
    color: white;
    width: auto;
    height: auto;
    overflow: hidden;
    text-transform: lowercase;
}
footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: rgb(211,211,211);
    text-align: center;
}
h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 4em;
    line-height: 20px;
}
h3 {
    font-size: 2em;    
    text-shadow: 2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p {
    font-size: 1.3em;
}
h3, p {
    padding: 0;
    margin: 0;
    color: rgb(211,211,211);
    text-align: center;
}
h2, h3, h4, h5, h6 {
    margin-top: 20px;
    color: #bd5938;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #bd5938;
}
a:hover {
    color: #bd9c38;
    transition-duration: 0.4s;
}

/* -------------------------------------------------------------------------------------- */

/* .class selectors */

.game-start-screen {
        background-image: url('../images/tree_background-1.png');
        background-color: black;
        background-size: 100%;
        border-radius: 25px;
        position: relative;
        height: 445px;
        width: 756px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
}
.startScreenDiv {
    text-align: center;
    padding-top: 0px;
    height: 445px;
    width: 756px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}
.startButton{
    background-color: #bd5938; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'VT323', monospace;
    bottom: 0;
    border: 2px solid white;
}
.startButton:hover {
    background-color: #bd9c38;
    color: white;
}
.gameOverMessage {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}
.gameOverMessage2 {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}
.startOverButton {
    background-color: #bd5938; 
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'VT323', monospace;
    bottom: 0;
    border: 2px solid white;
}
.startOverButton:hover {
    background-color: #bd9c38;
    color: white;
}

.funButtonsDiv {
    text-align: center;
    margin-top: 20px;
}
.darkModeButton {
    background-color: transparent; 
    border: none;
    margin-right: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'VT323', monospace;
}
.darkModeButton:hover {
    background-color: #bd9c38;
    color: white;
}
#theBody.dark-theme {
    background-color: black;
}
.partyModeButton {
    background-color: transparent; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'VT323', monospace;
}
.partyModeButton:hover {
    background-color: #bd38bd;
    color: white;
}
@-webkit-keyframes partyTime {  
    0% { background-color: #383bbd; }
    50% { background-color: #bd38bd; }
    75% { background-color: #38bd38; }
    100% { background-color: #38bdbb; }
  }
#theBody.party-theme {
    background-color: black;
    -webkit-animation-name: partyTime;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}
.settingsButton {
    background-color: transparent; 
    border: none;
    margin-right: 10px;
    color: #bd5938;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'VT323', monospace;
}