/*
    author: mina, vinson
    date: 2020-11-24
    title: twd - javascript game - css
*/

/* -------------------------------------------------------------------------------------- */

/* main selectors */

body {
    font-family: 'VT323', monospace;
    background-color: rgb(40,40,40);
    color: white;
    width: auto;
    height: auto;
    overflow: hidden;
    text-transform: lowercase;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
}

h3, p {
    padding: 0;
    margin: 0;
    color: rgb(211,211,211);
    text-align: center;
}

h3 {
    margin-top: 20px;
    color: #FF73B9;
}

footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: rgb(211,211,211);
    text-align: center;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #FF73B9;
}

a:hover {
    color: #FF007F;
}

/* -------------------------------------------------------------------------------------- */

/* .class selectors */
.wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.game-container {
    background-color: black;
    height: 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid #FF73B9;
}

.char-gallery {
    background-color: transparent;
    text-align: center;
}

.char-thumbnails {
    background-color: transparent;
}

.char-preview {
    background-color: transparent;
    text-align: center;
}


/* -------------------------------------------------------------------------------------- */

/* Main Character */
.main-character {
    /*
    position: absolute;
    */
    
}

.main-character img {
    width: 68px;
    height: 68px;
}

/* game images */
img {
    height: 100px;
}
